/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 10px 0;
    color: white;
}

h1, h2 {
    margin: 20px 0;
}

.home-container, .quiz-container, .results-container {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
